<br>
<br>
<div class="row pull-right">
  <form>
    <%= select_tag :order_by,  options_for_select([["Order by" , 0],["Name ASC" , 1],["Name DESC" , 2],
      ["Created at ASC" , 3],["Created at DESC" , 4]]), id: "order_by_name_or_create",
      class: "selectpicker", onchange: "this.form.submit();" %>
    <noscript><input type="submit" value="Submit"></noscript>
  </form>
</div>

<div class="row well">
  <% @artists.each do |artist| %>
      <div class="col-lg-4">
        <p><%= link_to artist do  %>
             <% if !artist.photo.nil? %>
               <%= image_tag artist.photo.image.thumbnail, :class => "img-thumbnail", style: 'height:200px;width:auto;' %>
             <% end %>
           <% end %>
        </p>
        <h3> <%= link_to artist.name, artist %> </h3>
        <p><%= link_to "Update", edit_artist_path(artist), class: "btn btn-primary" %> </p>
      </div>
  <% end %>
</div>
<%= will_paginate @artists, renderer: BootstrapPagination::Rails %>
