<br>
<div class="row">
  <div class="col-md-7">
    <% if !@artist.photo.nil? %>
      <p><%= image_tag @artist.photo.image, height: '310px' %></p>
    <% end %>

  </div>
  <div class="col-lg-5">
    <h2><%= @artist.name %></h2>
    <p><%= @artist.description %></p>
    <div class="btn-group">
      <%= link_to "Update", edit_artist_path(@artist), class: "btn btn-primary" %>
      <%= link_to "Delete Artist", artist_path(@artist), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
<br>

<%= render "songs/form", song: @song %>

  <% @songs.each do |song| %>
    <% if !song.id.nil? %>

    <% end %>
  <% end %>

  <table class="table table-striped" id="songList">
    <%= render @songs %>
  </table>
<div class="btn-group">
  <a class="btn btn-info" href="#" id="delete-selected">Delete Selected Songs</a>
  <a class="btn btn-danger" href="#" id="delete-all">Delete All Songs</a>
</div>
<%#= will_paginate @songs, renderer: BootstrapPagination::Rails %>

<br>
<br>
